* {
    font-family: "ff-enzo-web", tahoma, sans-serif;
    margin: 0;
    /*There's gotta be a better way than this to remove the margin
     from the top */
}

ul.top {
    background-color: rgb(250, 105,56);
    color: rgb(255, 255, 255);
    font-size: 13px;
}

.top-bar :hover {
    background-color: blue;
    color: white;
}

li {
    display: inline-block;    
    padding: 14px;
    text-shadow: .25px .15px black;
}

#shipping {
    border: transparent;
    border-radius: 4px;
    margin-left: 150px;
    font-size: 12px;
    text-align: center;
    background-color: rgba(0, 0, 0, .1);
    padding: 5px;
}

nav {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    
}

.logo {
 width: 128px;
 height: 117px;
 margin-left: 3%;
}

.navbar {
    display: inline-flex;
    margin: auto 0;
    font-size: 1.5em;
    
}

#register, #sign-in {
color: rgb(151, 149, 176);
padding-right: 10px;
padding-left: 0px;
}

.sign-bar {
    position: absolute;
    top: 43px;
    right:170px;
    display: flex;
    font-size: .7em;
}

.sign-list {
    padding: 0;
}

.cart {
    border: 1px solid lightgray;
    border-radius: 4px;
    display: inline-flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    margin-left: 132px;
    font-size: .9em;
    padding: 5px 15px;
}

input[type="text"] {
    width: 125px;
    height: 25px;
    padding-right: 0px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 4px;
    font-family: "ff-enzo-web" tahoma sans-serif;
    /*background-image: "file:///Users/Joshua/Desktop/TIY/Weekend-project-1/sprite@2x.png";
    background-position: -25px; -75px; */
}

.cart-pic, .magnifier {
    background-image: "file:///Users/Joshua/Desktop/TIY/Weekend-project-1/sprite@2x.png";
    background: no-repeat;

}

/*
.cart-pic {
    
    width: 10px;
    height: 10px;
    background-position: -50px -50px;
}
*/
.magnifier {
    margin-left: 25px;
    background-position: -25px -10px;
    height: 30px;
    width: 127px;
}

.counter {
    font-size: .7em;
    text-align: center;
    color: white;
    margin-left: 15px;
    padding: 1px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
    width: 15px;
    background-color: rgb(200, 200, 200);
}

.search {
    display: inline-flex;
    margin-top: auto;
    margin-bottom: auto;
    font-size: .8em;
    margin-left: 7px;
    border: 5px solid rgb(244, 244, 244);
    border-radius: 4px;
}

.tie {
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
}

.tiepix {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#style {
    width: 62%;
}

#label {
    text-align: center;
}

#dress-better {
    text-align: center;
    font-size: 3.5em;
    margin: 75px;
}




footer {
    font-size: .5em;
    display: flex;
}

.footer-nav {
    display: flex;
}
.footer-sec {
    text-align: left;
}

.footer-sec li {
display: block;
}