* {
    font-family: "ff-enzo-web", tahoma, sans-serif;
    margin: 0;
    /*There's gotta be a better way than this to remove the margin
     from the top */
}

.top {
    background-color: rgb(255, 87,5);
    color: rgb(255, 255, 255);
    font-size: 13px;
}

li {
    display: inline-block;    
    padding: 14px;
    text-shadow: .25px .15px black;
}

#shipping {
    border: transparent;
    border-radius: 4px;
    margin-left: 150px;
    font-size: 12px;
    text-align: center;
    background-color: rgb(200, 84, 45);
    padding: 5px;
}

nav {
    border: 1px solid green;
    margin-left: 10%;
    margin-right: 10%;
    
}

.logo {
 display: inline-block;
 width: 150px;
}

.navbar {
    display: inline-block;
    border: 1px solid darkorange;
    
}

.sign-bar {
    display: inline-block;
}

.cart {
    display: inline-block;
}

.search {
    display: inline-block;
}


footer {
    font-size: .5em;
}