* {
    font-family: "ff-enzo-web", tahoma, sans-serif;
    margin: 0;
    /*There's gotta be a better way than this to remove the margin
     from the top */
}

ul.top {
    background-color: rgb(255, 87,5);
    color: rgb(255, 255, 255);
    font-size: 13px;
}

li {
    display: inline-block;    
    padding: 14px;
    text-shadow: .25px .15px black;
}

#shipping {
    border: transparent;
    border-radius: 4px;
    margin-left: 150px;
    font-size: 12px;
    text-align: center;
    background-color: rgb(200, 84, 45);
    padding: 5px;
}

nav {
    display: flex;
    border: 1px solid green;
    margin-left: 10%;
    margin-right: 10%;
    
}

.logo {
 width: 128px;
 height: 117px;
 margin-left: 3%;
}

.navbar {
    display: inline-flex;
    margin: auto 0;
    font-size: 1.5em;
    
}

#register, #sign-in {
color: rgb(151, 149, 176);
padding-right: 10px;
padding-left: 0px;
}

.sign-bar {
    position: absolute;
    top: 43px;
    right:170px;
    display: flex;
    font-size: .7em;
}

.sign-list {
    padding: 0;
}

.cart {
    border: 1px solid lightgray;
    border-radius: 4px;
    display: inline-flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 25px;
    margin-left: 165px;
    font-size: .9em;
    padding: 10px 30px;
}

/*
.cart-pic {
    background-image: "file:///Users/Joshua/Desktop/TIY/Weekend-project-1/sprite@2x.png";
    width: 10px;
    height: 10px;
    background-position: -50px -50px;
}
*/
.counter {
    font-size: .7em;
    text-align: center;
    color: white;
    margin-left: 15px;
    padding: 1px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
    width: 15px;
    background-color: rgb(200, 200, 200);
}

.search {
    display: inline-flex;
}


footer {
    font-size: .5em;
}